---
import type { CollectionEntry } from 'astro:content';
import Metadata from '@components/Metadata.astro';
import Title from '@components/Blog/Title.astro';
import HeroImage from '@components/HeroImage.astro';
import Prose from '@components/Prose.astro';
import Footer from '@components/Footer.astro';
import Navigation from '@components/Navigation.astro';
import BreadCrumbs from '@components/BreadCrumbs.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="fr" class="light" style="color-scheme: light;">
	<head>
		<Metadata title={title} description={description} />
	</head>
	<body>
		<div class="min-h-screen bg-stone-100 dark:bg-slate-800">
			<Navigation />
			<div class="container mx-auto flex min-h-screen max-w-screen-lg flex-grow flex-col px-5 py-8">
				<main transition:animate="fade">
					<BreadCrumbs {title} parent="Blog" parentLink="/blog" />
					<article class="px-4 2xl:px-0">
						{heroImage && <HeroImage {heroImage} />}
						<Title {title} {pubDate} {updatedDate} />
						<Prose>
							<slot />
						</Prose>
					</article>
				</main>
			</div>
			<Footer />
		</div>
	</body>
</html>

<script>
	import 'flowbite';
</script>
