---
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';
import Metadata from '@components/Metadata.astro';
import Prose from '@components/Prose.astro';
import Title from '@components/Work/Title.astro';
import Navigation from '@components/Navigation.astro';
import BreadCrumbs from '@components/BreadCrumbs.astro';

const { title, startedDate, endedDate, website, linkedin } = Astro.props;
---

<html lang="fr" class="light" style="color-scheme: light;" transition:animate="none">
	<head>
		<Metadata title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="min-h-screen bg-stone-100 dark:bg-slate-800">
			<Navigation />
			<div
				class="container mx-auto flex min-h-screen max-w-screen-lg flex-grow flex-col px-5 py-8 md:px-12 lg:px-20"
			>
				<main transition:animate="fade">
					<BreadCrumbs {title} parent="Parcours" parentLink="/work" />
					<div class="px-4 2xl:px-0">
						<Title {title} {startedDate} {endedDate} {website} {linkedin} />
						<Prose>
							<slot />
						</Prose>
					</div>
				</main>
			</div>
			<Footer />
		</div>
	</body>
</html>

<script>
	import 'flowbite';
</script>
